<!doctype html>
<html class="no-js" lang="zxx"
      xmlns:th="https://www.thymeleaf.org"
      th:replace="~{/layout/layout :: main-fragment(
        ~{:: title},
        ~{:: #css},
        ~{:: .content},
        ~{:: #js}
      )}"
>
<head>
    <title>Coron-wishlist</title>
</head>
<body>
<th:block class="content">
    <div>
        <h2 style="margin-top: 30px; text-align: center">Reset Your Password</h2>
    </div>

    <form method="post" style="max-width: 350px; margin: 30px auto;">
        <input type="hidden"  th:value="${token}" id="token" />
        <div class="border border-secondary rounded p-3">
            <div>
                <p>
                    <input type="password" name="password" id="password" class="form-control"
                           placeholder="Enter your new password" required autofocus />
                </p>
                <p>
                    <input type="password" class="form-control" id="confirm-password" placeholder="Confirm your new password"
                           required/>
                </p>
                <p class="text-center">
                    <input type="button" id="change-password-btn" value="Change Password" class="btn btn-primary" />
                </p>
            </div>
        </div>
    </form>
</th:block>
<th:block id="js">
    <script>
        const password = document.getElementById("password");
        const confirmPassword = document.getElementById("confirm-password");
        const changePasswordBtn = document.getElementById("change-password-btn");
        const token = document.getElementById("token");
        console.log(token.value);
        function validatePassword() {
            if (password.value!= confirmPassword.value){
                alert("Password Retype not correct");
                return false;
            }
            if (password.value<6) {
                alert("Password  too short");
                return false;
            }
            return true;
        };
        changePasswordBtn.addEventListener('click', async function(){
            if (validatePassword()){
                try{
                    let res= await axios.post(`/api/auth/reset-password`, {
                        token: token.value,
                        password: password.value
                    });
                    alert(res.data);
                    setTimeout(() => {
                        window.location.href="/login";
                    }, 1500)
                } catch (e) {
                    console.log(e);
                }
            }
        });
    </script>
</th:block>
</body>
</html>
