<!doctype html>
<html class="no-js" lang="zxx"
      xmlns:th="https://www.thymeleaf.org"
      th:replace="~{/layout/layout :: main-fragment(
        ~{:: title},
        ~{:: #css},
        ~{:: .content},
        ~{:: #js}
      )}"
>
    <head>
        <title>Coron-contact</title>
    </head>
    <body>
        <th:block class="content">
            <!--breadcrumbs area start-->
            <div class="breadcrumbs_area">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb_content">
                            <ul>
                                <li><a href="index.html">home</a></li>
                                <li><i class="fa fa-angle-right"></i></li>
                                <li>contact</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <!--breadcrumbs area end-->

            <!--contact area start-->
            <div class="contact_area">
                <div class="row">

                    <div class="col-lg-6 col-md-12">
                        <div class="contact_message contact_info">
                            <h3>contact us</h3>
                            <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram anteposuerit litterarum formas human.</p>
                            <ul>
                                <li><i class="fa fa-fax"></i>  Address : No 40 Baria Sreet 133/2 NewYork City</li>
                                <li><i class="fa fa-phone"></i> <a href="#">Infor@roadthemes.com</a></li>
                                <li><i class="fa fa-envelope-o"></i> 0(1234) 567 890</li>
                            </ul>
                            <h3><strong>Working hours</strong></h3>
                            <p><strong>Monday – Saturday</strong>:  08AM – 22PM</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--contact area end-->

            <!--contact map start-->
            <div class="contact_map">
                <div class="row">
                    <div class="col-12">
                        <iframe src="https://www.google.com/maps/embed?pb" width="500" height="450" style="border:0" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
            <!--contact map end-->

        </th:block>

    </body>
</html>
