<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{/layout/layout :: main-fragment(
        ~{:: title},
        ~{},
        ~{:: .content},
        ~{:: #js}
      )}"
>
    <head>
        <title>Coron-single product</title>
    </head>
    <body>
    <th:block class="content">

        <!--pos page inner-->
        <div class="pos_page_inner">
            <!--breadcrumbs area start-->
            <div class="breadcrumbs_area">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb_content">
                            <ul>
                                <li><a th:href="index.html">home</a></li>
                                <li><i class="fa fa-angle-right"></i></li>
                                <li>single product</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <!--breadcrumbs area end-->


            <!--product wrapper start-->
            <div class="product_details">
                <div class="row">
                    <div class="col-lg-5 col-md-6">
                        <div class="product_tab fix">
                            <div class="product_tab_button" >
                                <ul class="nav" role="tablist">
                                    <li th:each="image, state: ${product.images}">
                                        <a data-toggle="tab" href="#p_tab1" role="tab" aria-controls="p_tab1" aria-selected="false" th:classappend="${state.index}==0? active : '' ">
                                            <img th:src="@{'/'+${image.url}}" alt=""></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content produc_tab_c">
                                <div class="tab-pane fade show " id="p_tab1" role="tabpanel" th:each="image, state: ${product.images}" th:classappend="${state.index}==0? active : '' ">
                                    <div class="modal_img">
                                        <a href="#"><img th:src="@{'/'+${image.url}}" alt=""></a>
                                        <div class="img_icone">
                                            <img src="\assets\img\cart\span-new.png" alt="">
                                        </div>
                                        <div class="view_img">
                                            <a class="large_view" th:href="@{'/'+${image.url}}"><i class="fa fa-search-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="product_d_right">
                            <h1 th:text="${product.name}">Printed Summer Dress</h1>
                            <div class="product_ratting mb-10">
                                <ul>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"> Write a review </a></li>
                                </ul>
                            </div>
                            <div class="product_desc">
                                <p th:utext="${product.content}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati modi culpa voluptates illo, quos magni totam inventore delectus perspiciatis necessitatibus, iure rerum! Deleniti nobis voluptatibus minus, iusto ullam quae esse..</p>
                            </div>

                            <div class="content_price mb-15">
                                    <span th:text="${T(com.example.coron.util.Utils).money(product.price)}">$118.00</span>
                                <span class="old-price" th:text="${T(com.example.coron.util.Utils).money(product.price /0.8)}">$130.00</span>
                            </div>
                            <div class="box_quantity mb-20">
                                <form action="#">
                                    <label>quantity</label>
                                    <input min="0" max="100" value="1" type="number" id="quantity">
                                </form>
                                <button type="submit" id="add-to-cart"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                <a href="#" title="add to wishlist"><i class="fa fa-heart" aria-hidden="true"></i></a>
                            </div>
                            <div class="product_d_size mb-20 ">
                                <label for="size" class="justify-content-center align-content-center mr-2">size</label>
                                <select class="form-select" name="size" id="size" onchange="changeSizeProduct()" style="max-width: 60px">
                                    <option th:each="amount: ${product.amounts}" th:value="${amount.id}"  th:text="${amount.size}"
                                             >S</option>
                                </select>
                            </div>


                            <div class="sidebar_widget color">
                                <h2>Color</h2>
                                <div id="color-product-choose"></div>
                            </div>

                            <div class="sidebar_widget color">
                                <h2>Choose Color</h2>
                                    <div class="widget_color">
                                        <ul>
                                            <li th:each="amount: ${product.amounts}" th:value="${amount.color}" th:if="${amount.quantity>0}"
                                                th:attr="onclick=|changeColorProduct('${amount.color}')|" >
                                                <div class="color-product" th:style="'background:' + ${amount.color}" ></div></li>
                                        </ul>
                                    </div>
                            </div>

                            <div class="product_stock mb-20">
                                <p id="total-amount" th:text="${T(com.example.coron.util.Utils).totalProducts(product.amounts)} + ' items'">299 items</p>
                                <span> In stock </span>
                            </div>
                            <div class="wishlist-share">
                                <h4>Share on:</h4>
                                <ul>
                                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                    <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--product details end-->


            <!--product info start-->
            <div class="product_d_info">
                <div class="row">
                    <div class="col-12">
                        <div class="product_d_inner">
                            <div class="product_info_button">
                                <ul class="nav" role="tablist">
                                    <li>
                                        <a class="active" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">More info</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#sheet" role="tab" aria-controls="sheet" aria-selected="false">Data sheet</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Reviews</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="info" role="tabpanel">
                                    <div class="product_info_content">
                                        <p>Fashion has been creating well-designed collections since 2010. The brand offers feminine designs delivering stylish separates and statement dresses which have since evolved into a full ready-to-wear collection in which every item is a vital part of a woman's wardrobe. The result? Cool, easy, chic looks with youthful elegance and unmistakable signature style. All the beautiful pieces are made in Italy and manufactured with the greatest attention. Now Fashion extends to a range of accessories including shoes, hats, belts and more!</p>
                                    </div>
                                </div>

                                <div class="tab-pane fade " id="sheet" role="tabpanel">
                                    <div class="product_d_table">
                                        <form action="#">
                                            <table>
                                                <tbody>
                                                <tr>
                                                    <td class="first_child">Compositions</td>
                                                    <td>Polyester</td>
                                                </tr>
                                                <tr>
                                                    <td class="first_child">Styles</td>
                                                    <td>Girly</td>
                                                </tr>
                                                <tr>
                                                    <td class="first_child">Properties</td>
                                                    <td>Short Dress</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                    </div>
                                    <div class="product_info_content">
                                        <p>Fashion has been creating well-designed collections since 2010. The brand offers feminine designs delivering stylish separates and statement dresses which have since evolved into a full ready-to-wear collection in which every item is a vital part of a woman's wardrobe. The result? Cool, easy, chic looks with youthful elegance and unmistakable signature style. All the beautiful pieces are made in Italy and manufactured with the greatest attention. Now Fashion extends to a range of accessories including shoes, hats, belts and more!</p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="reviews" role="tabpanel">
                                    <div class="product_info_content">
                                        <h3>Review the product </h3>
                                        <h4>Score: <span id="score" th:text="${averageRating}">4.5</span></h4>
                                        <div class=" mb-10">
                                            <ul style="flex-direction: row; display: flex;" id="average-rating">
                                                <li style="padding-right: 6px"><a style="color: gray"><i class="fa fa-star"></i></a></li>
                                                <li style="padding-right: 6px"><a style="color: gray"><i class="fa fa-star"></i></a></li>
                                                <li style="padding-right: 6px"><a style="color: gray"><i class="fa fa-star"></i></a></li>
                                                <li style="padding-right: 6px"><a style="color: gray"><i class="fa fa-star"></i></a></li>
                                                <li style="padding-right: 6px"><a style="color: gray"><i class="fa fa-star"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <h3>List Review</h3>
                                    <div class="product_info_inner"  id="list-review" >
                                        <div >
                                            <ul style="flex-direction: row; display: flex;">
                                                <li style="padding-right: 6px"><a style="color: gray"><i class="fa fa-star"></i></a></li>
                                                <li style="padding-right: 6px"><a style="color: gray"><i class="fa fa-star"></i></a></li>
                                                <li style="padding-right: 6px"><a style="color: gray"><i class="fa fa-star"></i></a></li>
                                                <li style="padding-right: 6px"><a style="color: gray"><i class="fa fa-star"></i></a></li>
                                                <li style="padding-right: 6px"><a style="color: gray"><i class="fa fa-star"></i></a></li>
                                            </ul>
                                            <strong>Posthemes</strong>
                                            <p >09/07/2018</p>
                                        </div>
                                        <div class="product_demo">
                                            <strong >demo</strong>
                                            <p >That's OK!</p>
                                        </div>
                                    </div>
                                    <div class="product_review_form" th:if="${signal}">
                                        <form action="#">
                                            <h2>Add a review </h2>
                                            <div class=" mb-10">
                                                <ul style="flex-direction: row; display: flex;" id="rating-stars">
                                                    <li style="padding-right: 6px"><a style="color: orange"><i class="fa fa-star"></i></a></li>
                                                    <li style="padding-right: 6px"><a style="color: orange"><i class="fa fa-star"></i></a></li>
                                                    <li style="padding-right: 6px"><a style="color: orange"><i class="fa fa-star"></i></a></li>
                                                    <li style="padding-right: 6px"><a style="color: orange"><i class="fa fa-star"></i></a></li>
                                                    <li style="padding-right: 6px"><a style="color: orange"><i class="fa fa-star"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <label for="review_comment">Your review </label>
                                                    <textarea name="comment" id="review_comment"></textarea>
                                                </div>
                                            </div>
                                            <button type="button" id="submit-review">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--product info end-->

            

        </div>
        <!--pos page inner end-->

    </th:block>

    <th:block id="js">
        // Rating star
        <script th:inline="javascript">
            const reviews = [[${reviews}]];
            const averageRating = [[${averageRating}]];
            console.log(reviews)
            const listStars = document.querySelectorAll("#rating-stars a");
            const reviewComment = document.getElementById("review_comment");
            const submitBtn = document.getElementById("submit-review");
            const listReviewEl = document.getElementById("list-review");
            const listAverageStarEl = document.querySelectorAll("#average-rating a");

            changeColorListStars(listAverageStarEl,Math.round(averageRating));
            let numberStar=5;
            console.log(listStars);
            for (let i=0; i< listStars.length;i++){
                listStars[i].addEventListener('click',function (){
                    numberStar=i+1;
                    changeColorListStars(listStars,numberStar);
                })
            }
            let html="";
            let listStarEl = document.createElement("div");
            listStarEl.innerHTML=`<ul style="flex-direction: row; display: flex;">
                                                <li style="padding-right: 6px"><a style="color: gray"><i class="fa fa-star"></i></a></li>
                                                <li style="padding-right: 6px"><a style="color: gray"><i class="fa fa-star"></i></a></li>
                                                <li style="padding-right: 6px"><a style="color: gray"><i class="fa fa-star"></i></a></li>
                                                <li style="padding-right: 6px"><a style="color: gray"><i class="fa fa-star"></i></a></li>
                                                <li style="padding-right: 6px"><a style="color: gray"><i class="fa fa-star"></i></a></li>
                                   </ul>`
            for (let review of reviews) {
                let stars = listStarEl.querySelectorAll("a");
                console.log(stars)
                changeColorListStars(stars,review.rating);
                html+= `                                        <div >
                                            ${listStarEl.innerHTML}
                                            <strong>Posthemes</strong>
                                            <p>${review.time}</p>
                                        </div>
                                        <div class="product_demo">
                                            <strong >${review.username}</strong>
                                            <p >${review.content}</p>
                                        </div>`
            }
            console.log(html)
            listReviewEl.innerHTML= html;
            function changeColorListStars(arr,n){
                for (let i=n; i< 5;i++){
                    arr[i].style.color = 'gray';
                }
                for (let i=0; i< n;i++){
                    arr[i].style.color = 'orange';
                }
            }

            const signal = [[${signal}]];
            if (signal) {
                submitBtn.addEventListener('click', async function(){
                    try {
                        let res = await axios.post(`/api/v1/reviews/create`,{
                            rating:numberStar,
                            content:reviewComment.value,
                            sku: product.sku
                        })
                        alert(res.data.message);
                        console.log(res);
                    } catch (e) {
                        console.log(e)
                    }
                })
            }
        </script>
        <script th:inline="javascript">
            const product = [[${product}]];
            const colorProductEl = document.getElementById("color-product-choose");
            const sizeChooseEl = document.getElementById("size");
            const totalAmount = document.getElementById("total-amount");
            function changeColorProduct(Color){
                colorProductEl.style.backgroundColor= Color;
                colorProductEl.value = Color;
                let total = 0;
                for (let amount of product.amounts){
                    if (amount.id== sizeChooseEl.value && amount.color== Color){
                        total= amount.quantity;
                    }
                }
                totalAmount.innerHTML= `${total} items`;
            }

            function changeSizeProduct(){
                let total = 0;
                for (let amount of product.amounts){
                    if (amount.id== sizeChooseEl.value && amount.color== colorProductEl.value){
                        total= amount.quantity;
                    }
                }
                totalAmount.innerHTML= `${total} items`;
            }
            const authentication = [[${#authentication}]];
            const addToCartBtn  = document.getElementById('add-to-cart');
            const quantity = document.getElementById('quantity');
            console.log(authentication)
            addToCartBtn.addEventListener('click',async () => {
                if (authentication.name!= 'anonymousUser'){
                    let amountId =0;
                    for (let amount of product.amounts){
                        if (amount.id== sizeChooseEl.value && amount.color== colorProductEl.value){
                            amountId= amount.id;
                        }
                    }
                    if (quantity.value < 1){
                        alert("Quantity not valid");
                        return;
                    }
                    if (amountId==0) {
                        alert("Choose color please!");
                        return;
                    }
                    try {
                        await axios.post(`/api/cart/${authentication.name}/upload`, {
                            amountId: amountId,
                            quantity: quantity.value
                        })
                        alert("Add to Cart Successful!");

                    } catch (e) {
                        console.log(e);
                    }
                } else {
                    alert("Please login");

                    setTimeout(() => {
                        window.location.href= '/login';
                    }, 1500)
                }
            });
        </script>


    </th:block>

    </body>
</html>
