<!doctype html>
<html class="no-js" lang="zxx"
      xmlns:th="https://www.thymeleaf.org"
      th:replace="~{/layout/layout :: main-fragment(
        ~{:: title},
        ~{:: #css},
        ~{:: .content},
        ~{:: #js}
      )}"
>
    <head>
        <title>Coron-wishlist</title>
    </head>
    <body>
        <th:block class="content">
            <!--pos page start-->
            <div class="pos_page">
                <div class="container">
                    <!--pos page inner-->
                    <div class="pos_page_inner">
                        <!--breadcrumbs area start-->
                        <div class="breadcrumbs_area">
                            <div class="row">
                                <div class="col-12">
                                    <div class="breadcrumb_content">
                                        <ul>
                                            <li><a href="/">home</a></li>
                                            <li><i class="fa fa-angle-right"></i></li>
                                            <li>wishlist</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--breadcrumbs area end-->

                        <!--shopping cart area start -->
                        <div class="shopping_cart_area">
                            <form action="#">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table_desc wishlist">
                                            <div class="cart_page table-responsive">
                                                <table>
                                                    <thead>
                                                    <tr>
                                                        <th class="product_remove">Delete</th>
                                                        <th class="product_thumb">Image</th>
                                                        <th class="product_name">Product</th>
                                                        <th class="product-price">Price</th>
                                                        <th class="product_quantity">Stock Status</th>
                                                        <th class="product_total">Add To Cart</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="wish: ${wishlist}">
                                                        <td class="product_remove"><a href="#" th:attr="onclick=|removeProductOutWishlist('${wish.sku}')|">X</a></td>
                                                        <td class="product_thumb"><a th:href="@{/single-product/{sku} (sku=${wish.sku})}"><img style="width: 50%" th:src="@{'/'+ ${wish.image}}" alt=""></a></td>
                                                        <td class="product_name"><a th:href="@{/single-product/{sku} (sku=${wish.sku})}" th:text="${wish.productName}">Handbag fringilla</a></td>
                                                        <td class="product-price" th:text="${T(com.example.coron.util.Utils).money(wish.price)}">£65.00</td>
                                                        <td class="product_quantity" th:text="${wish.stockStatus>0 ? 'In stock' : 'Sold out'}">In Stock</td>
                                                        <td class="product_total"><a th:href="@{/single-product/{sku} (sku=${wish.sku})}">Add To Cart</a></td>
                                                    </tr>

                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="wishlist-share">
                                        <h4>Share on:</h4>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                            <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                            <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--shopping cart area end -->

                    </div>
                    <!--pos page inner end-->
                </div>
            </div>
            <!--pos page end-->
        </th:block>
        <th:block id="js">
            <script th:inline="javascript">
                const authentication = [[${#authentication}]];
                async function removeProductOutWishlist(sku){
                    try {
                        let res = await axios.delete(`/api/v2/wishlist/${authentication.name}/${sku}`);
                        alert(res.data);
                        setTimeout(()=> {
                            window.location.reload();
                        },1500);
                    } catch (e) {
                        console.log(e);
                    }
                }
            </script>
        </th:block>
    </body>
</html>
