<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{/layout/layout :: main-fragment(
        ~{:: title},
        ~{},
        ~{:: .content},
        ~{:: .js}
      )}"
>
    <head>
        <title>Coron-login</title>
    </head>
    <body>
    <div class="content">
        <!--breadcrumbs area start-->
        <div class="breadcrumbs_area">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="breadcrumb_content">
                                            <ul>
                                                <li><a href="index.html">home</a></li>
                                                <li><i class="fa fa-angle-right"></i></li>
                                                <li>login</li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
        <!--breadcrumbs area end-->

        <!-- customer login start -->
        <div class="customer_login">
            <div class="row">
                <!--login area start-->
                <div class="col-lg-6 col-md-6">
                    <div class="account_form">
                        <h2>login</h2>
                        <form action="#">
                            <p>
                                <label for="email" class="form-label">Email <span>*</span></label>
                                <input type="text" class="form-control" id="email">
                            </p>
                            <p>
                                <label for="password" class="form-label">Password</label>
                                <input type="text" class="form-control" id="password">
                            </p>
                            <div class="login_submit">
                                <button type="button" id="btn-login">login</button>
                                <label for="remember">
                                    <input id="remember" type="checkbox">
                                    Remember me
                                </label>
                                <a href="#">Lost your password?</a>
                            </div>

                        </form>
                    </div>
                </div>
                <!--login area start-->

                <!--register area start-->
                <div class="col-lg-6 col-md-6">
                    <div class="account_form register">
                        <h2>Register</h2>
                        <form action="#">
                            <p>
                                <label for="name" class="form-label">Name <span>*</span></label>
                                <input type="text" class="form-control" id="name">
                            </p>
                            <p>
                                <label for="phone-number" class="form-label">Phone Number<span>*</span></label>
                                <input type="text" class="form-control" id="phone-number">
                            </p>
                            <p>
                                <label for="email-register" class="form-label">Email <span>*</span></label>
                                <input type="text" class="form-control" id="email-register">
                            </p>
                            <p>
                                <label for="password-register" class="form-label">Password <span>*</span></label>
                                <input type="password" class="form-control" id="password-register">
                            </p>
                            <p>
                                <label for="re-type-password-register" class="form-label">Re-type Password <span>*</span></label>
                                <input type="password" class="form-control" id="re-type-password-register">
                            </p>
                            <p>
                                <label for="address" class="form-label">Address <span>*</span></label>
                                <input type="text" class="form-control" id="address">
                            </p>
                            <div class="login_submit">
                                <button type="button" id="btn-register">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--register area end-->
            </div>
        </div>
        <!-- customer login end -->
    </div>

    <script class="js">
        const emailEl = document.getElementById("email");
        const passwordEl = document.getElementById("password");
        const btnLogin = document.getElementById("btn-login");
        const btnRegister = document.getElementById("btn-register");
        const nameRegister = document.getElementById("name");
        const phoneNumberEl = document.getElementById('phone-number');
        const passwordRegister = document.getElementById("password-register");
        const passwordRetype = document.getElementById("re-type-password-register");
        const emailRegister = document.getElementById("email-register");
        const addressEl = document.getElementById("address");
        btnRegister && btnRegister.addEventListener("click", async () => {
            try {
                await axios.post("/api/auth/register", {
                    name: nameRegister.value,
                    phone: phoneNumberEl.value,
                    email: emailRegister.value,
                    password: passwordRegister.value,
                    address: addressEl.value
                })

                alert("Register Successful!");

                setTimeout(() => {
                    window.location.reload();
                }, 1500)
                window.location.href= "/";
            } catch (e) {
                console.log(e);
            }
        })

        btnLogin && btnLogin.addEventListener("click", async () => {
            try {
                await axios.post("/api/auth/login", {
                    email: emailEl.value,
                    password: passwordEl.value
                })

                alert("Login Successful!");

                setTimeout(() => {
                    window.location.reload();
                }, 1500)
                window.location.href= "/";
            } catch (e) {
                console.log(e);
            }
        })
    </script>
    </body>
</html>
