<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Header -->
<header th:fragment="header">
  <div class="header_area">
    <!--header top-->
    <div class="header_top">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6">
          <div class="switcher">
            <ul>
              <li class="languages"><a href="#"><img src="/assets/img/logo/fontlogo.jpg" alt=""> English <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown_languages">
                  <li><a href="#"><img src="/assets/img/logo/fontlogo.jpg" alt=""> English</a></li>
                  <li><a href="#"><img src="/assets/img/logo/fontlogo2.jpg" alt=""> French </a></li>
                </ul>
              </li>

              <li class="currency"><a href="#"> Currency : $ <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown_currency">
                  <li><a href="#"> Dollar (USD)</a></li>
                  <li><a href="#"> Euro (EUR)  </a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="header_links">
            <ul>
              <li><a th:href="@{/contact}" title="Contact">Contact</a></li>
              <li th:if="${#authentication.name}!= 'anonymousUser'"><a th:href="@{/wishlist}" title="wishlist">My wishlist</a></li>
              <li th:if="${#authentication.name}!= 'anonymousUser'"><a th:href="@{/my-account}" title="My account">My account</a></li>
              <li th:if="${#authentication.name}!= 'anonymousUser'"><a th:href="@{/cart}" title="My cart">My cart</a></li>
              <li>
                <th:block sec:authorize="not isAuthenticated()">
                  <a th:href="@{/login}" title="Login">Login</a>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle btn-sm btn-info" type="button" id="menu" data-bs-toggle="dropdown"
                            aria-expanded="false">
                      Hello
                      <th:block th:text="${#authentication.principal.getName()}"></th:block>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="menu">
                      <li><a class="dropdown-item" th:href="@{/admin/carts}" sec:authorize="hasRole( 'ADMIN')">Web admin</a></li>
                      <li><a class="dropdown-item" href="/logout">Logout </a></li>
                    </ul>
                  </div>
                </th:block>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--header top end-->

    <!--header middel-->
    <div class="header_middel">
      <div class="row align-items-center">
        <!--logo start-->
        <div class="col-lg-3 col-md-3">
          <div class="logo">
            <a th:href="@{/}"><img src="/assets\img\logo\logo.jpg.png" alt=""></a>
          </div>
        </div>
        <!--logo end-->
        <div class="col-lg-9 col-md-9">
          <div class="header_right_info">
            <div class="search_bar">
              <form action="/shop/page/1">
                <input type="hidden" name="sortField" value="name">
                <input type="hidden" name="sortDir" value="asc">
                <input placeholder="Search..." type="text" name="keyword" value="" id="search-keyword">
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
            </div>
            <div class="shopping_cart" th:if="${carts != null}">
              <a href="#"><i class="fa fa-shopping-cart"></i> <th:block th:text="${T(com.example.coron.util.Utils).renderCart(carts)}"></th:block> <i class="fa fa-angle-down"></i></a>

              <!--mini cart-->
              <div class="mini_cart">
                <div class="cart_item" th:each="cart:${carts}">
                  <div class="cart_img">
                    <a th:href="@{/single-product/{sku} (sku=${cart.sku})}"><img th:src="@{'/'+${cart.image}}" alt=""></a>
                  </div>
                  <div class="cart_info">
                    <a th:href="@{/single-product/{sku} (sku=${cart.sku})}" th:text="${cart.productName}">lorem ipsum dolor</a>
                    <span class="cart_price" th:text="${T(com.example.coron.util.Utils).money(cart.price)}">$115.00</span>
                    <span class="quantity" th:text="'Qty: '+ ${cart.quantity}">Qty: 1</span>
                  </div>
                  <div class="cart_remove">
                    <a title="Remove this item" href="#"><i class="fa fa-times-circle"></i></a>
                  </div>
                </div>
                <div class="shipping_price">
                  <span> Shipping </span>
                  <span>  $7.00  </span>
                </div>
                <div class="total_price">
                  <span> total </span>
                  <span class="prices">  $227.00  </span>
                </div>
                <div class="cart_button">
                  <a th:href="@{/checkout}"> Check out</a>
                </div>
              </div>
              <!--mini cart end-->
            </div>

          </div>
        </div>
      </div>
    </div>
    <!--header middel end-->
    <div class="header_bottom">
      <div class="row">
        <div class="col-12">
          <div class="main_menu_inner">
            <div class="main_menu d-none d-lg-block">
              <nav>
                <ul>
                  <li class="active"><a th:href="@{/}">Home</a>
                  </li>
                  <li><a th:href="@{/shop}">shop</a>
                  </li>
                  <li><a href="/shop/page/1?sortField=name&sortDir=asc&category=Women&keyword=">women</a>
                  </li>
                  <li><a href="/shop/page/1?sortField=name&sortDir=asc&category=Men&keyword=">men</a>
                  </li>
                  <li><a href="/shop/page/1?sortField=name&sortDir=asc&category=Unisex&keyword=">Unisex</a>
                    <div class="mega_menu jewelry">
                      <div class="mega_items jewelry">
                        <ul>
                          <li><a href="/shop/page/1?sortField=name&sortDir=asc&category=Footwear&keyword=">Footwear</a></li>
                          <li><a href="/shop/page/1?sortField=name&sortDir=asc&category=Jewelry&keyword=">Jewelry</a></li>
                          <li><a href="/shop/page/1?sortField=name&sortDir=asc&category=T-shirt&keyword=">T-shirt</a></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li><a href="/contact">contact us</a></li>

                </ul>
              </nav>
            </div>
            <div class="mobile-menu d-lg-none">
              <nav>
                <ul>
                  <li class="active"><a th:href="@{/}">Home</a>
                  </li>
                  <li><a th:href="@{/shop}">shop</a>
                  </li>
                  <li><a href="/shop/page/1?sortField=name&sortDir=asc&category=Women&keyword=">women</a>
                  </li>
                  <li><a href="/shop/page/1?sortField=name&sortDir=asc&category=Men&keyword=">men</a>
                  </li>
                  <li><a href="/shop/page/1?sortField=name&sortDir=asc&category=Unisex&keyword=">Unisex</a>
                    <div class="mega_menu jewelry">
                      <div class="mega_items jewelry">
                        <ul>
                          <li><a href="/shop/page/1?sortField=name&sortDir=asc&category=Footwear&keyword=">Footwear</a></li>
                          <li><a href="/shop/page/1?sortField=name&sortDir=asc&category=Jewelry&keyword=">Jewelry</a></li>
                          <li><a href="/shop/page/1?sortField=name&sortDir=asc&category=T-shirt&keyword=">T-shirt</a></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li><a href="/contact">contact us</a></li>

                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
</body>
</html>