<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      th:replace="~{/layout/layout-admin :: main-fragment(
        ~{:: title},
        ~{:: #css},
        ~{:: .content-wrapper},
        ~{:: #js}
      )}
">

<head>
    <title>Tất cả sản phẩm</title>
    <th:block id="css">
        <link rel="stylesheet" th:href="@{/assets/css/style.css}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </th:block>
</head>

<body>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a th:href="@{/admin}">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Danh sách sản phẩm
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row py-2">
                <div class="col-12">
                    <a th:href="@{/admin/products/create}" class="btn btn-primary">
                        <i class="fas fa-plus"></i> Thêm sản phẩm mới
                    </a>
                    <a th:href="@{/admin/products}" class="btn btn-info">
                        <i class="fas fa-redo"></i> Refresh
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th >STT</th>
                                    <th>Mã sản phẩm</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Ảnh</th>
                                    <th>Số lượng</th>
                                    <th>Trạng thái</th>
                                    <th>Giá tiền</th>
                                    <th>Thể loại</th>
                                    <th>Ngày tạo</th>
                                    <th>Chức năng</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="product, stat: ${products}">
                                    <td th:text="${stat.index+1}"></td>
                                    <td th:text="${product.sku}">00000001</td>
                                    <td th:text="${product.name}">Áo thun nam</td>
                                    <td><img  th:if="${product.images.size()>0}" th:src="'/'+${product.images[0].url}" alt="" style="width: 50px" ></td>
                                    <td th:text="${T(com.example.coron.util.Utils).totalProducts(product.amounts)}">5</td>
                                    <td><span class="badge bg-success" th:text="${T(com.example.coron.util.Utils).totalProducts(product.amounts)} >0 ? 'Còn hàng': 'Hết hàng'" >Còn hàng</span></td>
                                    <td th:text="${product.price}">600000 đ</td>
                                    <td th:text="${T(com.example.coron.util.Utils).generateCategoryString(product.categories)}">Nam , áo thun</td>
                                    <td th:text="${#temporals.format(product.createdAt,'dd-MM-yyyy')}">19/08/2022</td>
                                    <td><button class="btn btn-primary btn-sm trash" type="button" title="Xóa"
                                                th:onclick="deleteProduct([[${product}]])"><i class="fas fa-trash-alt"></i>
                                    </button>
                                        <button class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp" data-toggle="modal"
                                                data-target="#ModalUP" th:onclick="changeToDetailPage([[${product.sku}]])"><i class="fas fa-edit"></i></button></td>
                                </tr>
                                </tbody>
                            </table>

                            <!--pagination style start-->
                            <div class="pagination_style">
                                <div class="page_number">
                                    <span>Pages: </span>
                                    <ul>
                                        <li th:if="${currentPage>1}">«</li>
                                        <span id="pages">
                                    <li class="current_number">1</li>
                                    <li><a href="#">2</a></li>
                                </span>
                                        <li th:if="${currentPage<totalPage}">»</li>
                                    </ul>
                                </div>
                            </div>
                            <!--pagination style end-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<th:block id="js">
    <script th:inline="javascript">
        const totalPage = [[${totalPage}]];
        const pageEls= document.getElementById("pages");
        let html= "";
        for (let i =0;i<totalPage; i++){
            html+= `<li><a href="/admin/products/page/${i+1}">${i+1}</a></li>`
        }
        pageEls.innerHTML= html;
        async function deleteProduct(Product) {
            try {
                await
                axios.delete(`/api/admin/products/${Product.sku}`);
                alert("Delete Successful!");

                setTimeout(() => {
                    window.location.reload();
                }, 1500)
            } catch (e) {
                console.log(e);
            }
        }
        function changeToDetailPage(sku){
            window.location.href = `/admin/products/${sku}`;
        }
    </script>
</th:block>
</body>

</html>