<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layout/layout :: main-fragment(~{:: title},~{:: #css},~{:: #content},~{:: #js})}">

<head>
    <title>Trang chủ</title>

    <th:block id="css">
        <link rel="stylesheet" th:href="@{/css/style-user.css}">
    </th:block>
</head>

<body>
    <th:block id="content">
        <div class="list-company pt-5 pb-5">
            <div class="container">
                <h2 class="mb-5 fw-normal">Danh Sách Công Việc</h2>
                <div class="row list-job">
                    <div class="col-md-6">
                        <a href="#">
                            <div class="company bg-white p-4 mb-4">
                                <h2 class="fs-4 mb-4">
                                    10 Software Dev (C# WPF C++, .NET)~$2300
                                </h2>
                                <div class="text-muted">
                                    <p>
                                        <span class="me-1"><i class="fa-solid fa-sack-dollar"></i></span>
                                        $3000 - $4000
                                    </p>
                                    <p>
                                        <span class="me-1"><i class="fa-solid fa-location-dot"></i></span>
                                        Hà Nội
                                    </p>
                                    <p>
                                        <span class="me-1"><i class="fa-solid fa-screwdriver-wrench"></i></span>
                                        <span class="badge bg-warning text-dark">Angular</span>
                                        <span class="badge bg-warning text-dark">Javascript</span>
                                        <span class="badge bg-warning text-dark">HTML5</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="#">
                            <div class="company bg-white p-4 mb-4">
                                <h2 class="fs-4 mb-4">
                                    10 Software Dev (C# WPF C++, .NET)~$2300
                                </h2>
                                <div class="text-muted">
                                    <p>
                                        <span class="me-1"><i class="fa-solid fa-sack-dollar"></i></span>
                                        $3000 - $4000
                                    </p>
                                    <p>
                                        <span class="me-1"><i class="fa-solid fa-location-dot"></i></span>
                                        Hà Nội
                                    </p>
                                    <p>
                                        <span class="me-1"><i class="fa-solid fa-screwdriver-wrench"></i></span>
                                        <span class="badge bg-warning text-dark">Angular</span>
                                        <span class="badge bg-warning text-dark">Javascript</span>
                                        <span class="badge bg-warning text-dark">HTML5</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="#">
                            <div class="company bg-white p-4 mb-4">
                                <h2 class="fs-4 mb-4">
                                    10 Software Dev (C# WPF C++, .NET)~$2300
                                </h2>
                                <div class="text-muted">
                                    <p>
                                        <span class="me-1"><i class="fa-solid fa-sack-dollar"></i></span>
                                        $3000 - $4000
                                    </p>
                                    <p>
                                        <span class="me-1"><i class="fa-solid fa-location-dot"></i></span>
                                        Hà Nội
                                    </p>
                                    <p>
                                        <span class="me-1"><i class="fa-solid fa-screwdriver-wrench"></i></span>
                                        <span class="badge bg-warning text-dark">Angular</span>
                                        <span class="badge bg-warning text-dark">Javascript</span>
                                        <span class="badge bg-warning text-dark">HTML5</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="#">
                            <div class="company bg-white p-4 mb-4">
                                <h2 class="fs-4 mb-4">
                                    10 Software Dev (C# WPF C++, .NET)~$2300
                                </h2>
                                <div class="text-muted">
                                    <p>
                                        <span class="me-1"><i class="fa-solid fa-sack-dollar"></i></span>
                                        $3000 - $4000
                                    </p>
                                    <p>
                                        <span class="me-1"><i class="fa-solid fa-location-dot"></i></span>
                                        Hà Nội
                                    </p>
                                    <p>
                                        <span class="me-1"><i class="fa-solid fa-screwdriver-wrench"></i></span>
                                        <span class="badge bg-warning text-dark">Angular</span>
                                        <span class="badge bg-warning text-dark">Javascript</span>
                                        <span class="badge bg-warning text-dark">HTML5</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

</body>

</html>