<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{/layout/layout :: main-fragment(~{:: title},~{},~{:: #content},~{})}">

<head>

    <title>Tạo công việc</title>

    <!-- Components CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">

</head>

<body>

    <!-- BODY -->
    <th:block id="content">
        <div class="job-container mt-4 mb-4">
            <div class="container">

                <div class="mb-4">
                    <button class="btn-custom btn-create-job">
                        <span><i class="fa-solid fa-plus"></i></span>
                        Tạo
                    </button>
                    <a href="/admin/companies" class="btn-custom btn-refresh">
                        <span><i class="fa-solid fa-angle-left"></i></span>
                        Quay lại
                    </a>
                </div>

                <div class="company-list-inner p-2">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="mb-3">
                                <label for="job-title" class="form-label">Tên công việc</label>
                                <input type="text" class="form-control" id="job-title">
                            </div>
                            <div class="mb-3">
                                <label for="job-description" class="form-label">Mô tả ngắn</label>
                                <textarea class="form-control" id="job-description" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="job-skill" class="form-label">Kỹ năng</label>
                                <select id="job-skill" class="form-control" multiple="multiple">
                                    <option value="Javascript">Javascript</option>
                                    <option value="Java">Java</option>
                                    <option value="Golang">Golang</option>
                                    <option value="PHP">PHP</option>
                                    <option value="React">React</option>
                                    <option value="AWS">AWS</option>
                                    <option value="Devops">Devops</option>
                                    <option value=".Net">.Net</option>
                                    <option value="Vue">Vue</option>
                                    <option value="Angular">Angular</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="job-company" class="form-label">Công ty</label>
                                <select id="job-company" class="form-control">
                                    <option hidden="">-- Chọn công ty --</option>
                                    <option value="1">Haley, Bailey and Brakus</option>
                                    <option value="2">Armstrong, Nolan and Heaney</option>
                                    <option value="3">Trantow, Collier and Kirlin</option>
                                    <option value="4">Hilll-Wiza</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="job-salary" class="form-label">Mức lương</label>
                                <input type="text" class="form-control" id="job-salary">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>


    <!-- Components JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


    <script>
        $(document).ready(function () {
            $("#job-skill").select2();
        });
    </script>



</body>

</html>